.Todolist  input{
    padding:10px;
    font-size: 16px;
    border:2px;
    width: 180px;
}
.Todolist button{
    padding: 10px;
    font-size: 16px;
    margin:10px;
    background-color: blue;
    color: blanchedalmond;
    border: 2px solid  blue;
}
.Todolist button:hover{
    background-color: darkblue;
    cursor: pointer;
    border: 2px solid  darkblue;
}
.myLabelClass{
    color: black;
    background-color: rgba(255,255,255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius:10px;
    width : 165px;
    float: left}
.myInputClass{
    color: black;
    background-color: rgba(255,255,255, .5);
    padding: 0px;
    margin-bottom: 15px;
    border-radius:10px;
}
.Todolist .List .Item button{
    padding : 2px;
    margin : 20px;
    background-color: cadetblue;
    border: 0.5px solid  cadetblue;
    display:none;
}
.Todolist .List .Item:hover button{
    display:inline;
}
ul{
    text-align: left;
    padding: 0px;
}